<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BuZzDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BuZzDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <applicationSettings>
    <BuZzDownloader.Properties.Settings>
      <setting name="BuZzUrl" serializeAs="String">
        <value>https://buzz.3on.fr/</value>
      </setting>
      <setting name="DownloadFolder" serializeAs="String">
        <value>./Downloads</value>
      </setting>
      <setting name="StatusFrequency" serializeAs="String">
        <value>5</value>
      </setting>
    </BuZzDownloader.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <BuZzDownloader.Properties.Settings>
      <setting name="BuZzLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="BuZzPwd" serializeAs="String">
        <value />
      </setting>
    </BuZzDownloader.Properties.Settings>
  </userSettings>
</configuration>
